body{
    background-color: black;
    text-align: center;
    font-family: monotype corsiva;
    }
h1 {
    background-color:cyan;

    font-size: 60px;

    }

h2 {
    background-color: cyan;
       font-size: 35px;
    }

p {
    background-color: deeppink;
     font-size: 18px;
    }
a {
    color: deepskyblue;
}